<configuration>

    <property name="HOME_LOG" value="logs/carp-integration.txt"/>
    <property name="HOSTNAME" value="third_party_integrati"/>
    <property name="SLACK_CHANNEL" value="#integration-log"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${HOME_LOG}</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <!--appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
        <token>1111-111</token>
        <channel>${SLACK_CHANNEL}</channel>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-4relative [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
        <username>${HOSTNAME}</username>
        <colorCoding>true</colorCoding>
    </appender>

    <appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK" />
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender-->

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <!--appender-ref ref="ASYNC_SLACK"/-->
    </root>

</configuration>